@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* @import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap); */
:root {
    --nc-font-sans: "Open Sans", "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --nc-font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
    --nc-tx-1: #000;
    --nc-tx-2: #1a1a1a;
    --nc-bg-1: #fff;
    --nc-bg-2: #f6f8fa;
    --nc-bg-3: #bbbcbe;
    --nc-lk-1: #6553ff;
    --nc-lk-2: #333333;
    --nc-lk-tx: #fff;
    --nc-ac-1: #79ffe1;
    --nc-ac-tx: #0c4047;
    height: 100%
}

* {
    margin: 0;
    padding: 0
}

html {
    overflow: hidden;
    height: 100%;
}

button, html, input, select {
    font-family: var(--nc-font-sans)
}

body {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    color: var(--nc-tx-2);
    font-size: 1.03rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

::-moz-selection {
    background: var(--nc-ac-1);
    color: var(--nc-ac-tx)
}

::selection {
    background: var(--nc-ac-1);
    color: var(--nc-ac-tx)
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    color: var(--nc-tx-1)
}

h1, h2, h3 {
    color: var(--nc-tx-1);
    padding-bottom: 2px;
    margin-bottom: 8px;
    /* border-bottom: 1px solid var(--nc-bg-2) */
}

h4, h5, h6 {
    margin-bottom: .3rem
}

h1 {
    font-size: 2.25rem
}

h2 {
    font-size: 1.85rem
}

h3 {
    font-size: 1.55rem
}

h4 {
    font-size: 1.25rem
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: .875rem
}

a {
    color: var(--nc-lk-1)
}

a:hover {
    color: var(--nc-lk-2)
}

a {
    text-decoration: none;
}

abbr:hover {
    cursor: help
}

blockquote {
    padding: 1.5rem;
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3)
}

abbr {
    cursor: help
}

blockquote :last-child {
    padding-bottom: 0;
    margin-bottom: 0
}

header {
    background: var(--nc-bg-2);
    border-bottom: 1px solid var(--nc-bg-3);
    margin: -2rem calc(-50vw - -50%) 2rem;
    padding: 2rem calc(50vw - 50%)
}

header h1, header h2, header h3 {
    padding-bottom: 0;
    border-bottom: 0
}

header>:first-child {
    margin-top: 0;
    padding-top: 0
}

header>:last-child {
    margin-bottom: 0
}

a button, button, input[type=button], input[type=reset], input[type=submit] {
    font-size: 1.3em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: var(--nc-lk-1);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--nc-lk-tx);
    margin-top: 1em
}

a button[disabled], button[disabled], input[type=button][disabled], input[type=reset][disabled], input[type=submit][disabled] {
    cursor: default;
    opacity: .5;
    cursor: not-allowed
}

.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    background: var(--nc-lk-2)
}

code, kbd, pre, samp {
    font-family: var(--nc-font-mono);
    background: var(--nc-bg-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px;
    padding: 3px 6px;
    font-size: .9rem
}

kbd {
    border-bottom: 3px solid var(--nc-bg-3)
}

pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto
}

code pre, pre code {
    background: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0
}

code pre {
    display: inline
}

details {
    padding: .6rem 1rem;
    background: var(--nc-bg-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px
}

summary {
    cursor: pointer;
    font-weight: 700
}

details[open] {
    padding-bottom: .75rem
}

details[open] summary {
    margin-bottom: 6px
}

details[open]>:last-child {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd:before {
    content: "→ "
}

hr {
    border: 0;
    border-bottom: 1px solid var(--nc-bg-3);
    margin: 1rem auto
}

fieldset {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px
}

legend {
    padding: auto .5rem
}

table {
    border-collapse: collapse;
    width: 100%
}

td, th {
    border: 1px solid var(--nc-bg-3);
    text-align: left;
    padding: .5rem
}

th, tr:nth-child(2n) {
    background: var(--nc-bg-2)
}

table caption {
    font-weight: 700;
    margin-bottom: .5rem
}

textarea {
    max-width: 100%
}

ol, ul {
    padding-left: 2rem
}

li {
    margin-top: .4rem
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

mark {
    padding: 3px 6px;
    background: var(--nc-ac-1);
    color: var(--nc-ac-tx)
}

input, select, textarea {
    padding: 6px 12px;
    margin-bottom: .5rem;
    background: var(--nc-bg-2);
    color: var(--nc-tx-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    border: none;
    box-shadow: rgba(33, 43, 54, 0.25) 0px 0px 5px;
    margin-top: .1rem;
}

input:focus {
    outline: none;
    border-color: var(--nc-ac-1)
}

img {
    max-width: 100%;
    radius: 6px
}

#__next, .height100 {
    height: 100%
}

.purpleBackground {
    background-image: linear-gradient(135deg, #4aaddf, #4abddf);
    padding: 16px;
    overflow: auto
}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 16px;
    margin-bottom: 16px
}

@media(max-width:600px) {
    .nameContainer {
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 0
    }
}

.loginButton {
    padding: 5px 13px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px
}

@media(max-width:600px) {
    .loginButton {
        font-size: 15px
    }
}

.name {
    font-size: 24px;
    line-height: 58px;
    font-weight: 700;
    color: #fff
}

@media(max-width:600px) {
    .name {
        font-size: 22px
    }
}

.mainInfoContainer {
    max-width: 500px;
    margin: 0 auto
}

.emailBox {
    background: #fff;
    padding: 16px
}

.emailBox, .startButton {
    width: 100%;
    font-size: 20px
}

.startButton {
    padding: 16px 0;
    margin-bottom: 16px;
    margin-top: 16px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    background: #5A5BD3;
    color: #fff;
    cursor: pointer
}

.cardRequired {
    color: #fff
}

.ctaContainer {
    flex-direction: column;
    align-items: center
}

.ctaContainer, .oneLinerText {
    display: flex;
    justify-content: center
}

.oneLinerText {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 44px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: -.04em;
    text-align: center;
    margin: 0 auto
}

@media(max-width:600px) {
    .oneLinerText {
        font-size: 30px;
        line-height: 38px
    }
}

.subtitle {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center
}

@media(max-width:600px) {
    .subtitle {
        font-size: 20px
    }
}

.fancyBoxBase {
    padding: 32px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, .3)
}

.marginBottom {
    margin-bottom: 20px
}

.sessionInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

@media(max-width:600px) {
    .sessionInfo {
        flex-direction: column
    }
}

.classInfoContainer {
    margin-left: 32px
}

@media(max-width:600px) {
    .classInfoContainer {
        margin-top: 16px;
        margin-left: 0
    }
}

.registerButton {
    margin-top: .5em;
    padding: .4em
}

.sessionImage {
    max-width: 250px;
    width: 100%;
    height: auto
}

.fullWidth {
    width: 100%
}

.learnMore {
    cursor: pointer;
    margin-top: 8px;
    padding: 8px;
    background: #5A5BD3;
    width: 100px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    text-align: center
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #000
}

.rowItem {
    background: #a9dbed;
    padding: 12px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer
}

.selectedRowItem {
    background: #abff97
}

.bookClassTitle {
    font-size: 26px
}

.bookClassTitle, .registerHeader {
    color: #fff;
    font-weight: 600;
    margin-top: 32px
}

.registerHeader {
    font-size: 34px
}

@media(max-width:600px) {
    .registerHeader {
        font-size: 28px;
        margin-top: 16px
    }
}

.registerSectionTitle {
    font-size: 18px;
    color: #fff
}

.smallMarginTop {
    margin-top: 16px
}

.fontSize18 {
    font-size: 18px
}

.registerButton {
    cursor: pointer;
    background: #5A5BD3;
    /* width: 150px; */
    text-align: center;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 64px
}

.referralText{
    margin-top: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.exploreClassesTitle {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin-top: 32px
}

.classContainer {
    padding: 32px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, .3);
    margin-top: 24px
}

.classTitle {
    font-size: 24px;
    font-weight: 600
}

@media(max-width:600px) {
    .classTitle {
        font-size: 21px
    }
}

.allClassesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.bookNowButton {
    background: #5A5BD3;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    cursor: pointer
}

.greenBg {
    background: #62d200
}

.teacherContainer {
    flex-direction: row;
    display: flex;
    align-items: center
}

.teacherImg {
    width: 40px;
    height: 40px;
    border-radius: 50px
}

.teacherName {
    margin-left: 16px
}

.welcomeText {
    color: #fff
}

.tag {
    background: #ffd8fc;
    display: inline-flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 3px 4px;
    font-size: 17px;
    font-size: 15px;
    margin-right: 8px;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.tagsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    flex-wrap: wrap
}

.referralButton {
    margin-top: 12px;
    background: #3c3;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer
}

.loadingScreen, .referralButton {
    text-align: center;
    color: #fff;
    font-weight: 700
}

.loadingScreen {
    height: 100vh;
    background-image: linear-gradient(135deg, #4aaddf, #4abddf);
    padding: 32px;
    font-size: 32px
}

.classImg {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 16px
}

.childContainer {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-top: 16px;
    padding: 32px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, .3)
}

.addChildButton {
    padding: 5px 13px;
    border: 1px solid #fff;
    border-radius: 5px
}

.addChildButton, .joinSessionButton {
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin-top: 16px;
    font-weight: 700
}

.joinSessionButton {
    margin-bottom: 64px
}

.joinMeetingButton, .joinSessionButton {
    background: #36CC1C;
    padding: 8px;
    border-radius: 4px
}

.joinMeetingButton {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    cursor: pointer
}

.spin {
    display: inline-block;
    animation: rotation 5s linear infinite;
    font-size: 64px
}

@keyframes rotation {
    50% {
        transform: rotate(1turn)
    }
    to {
        transform: rotate(2turn)
    }
}

.forgotPassword {
    margin-top: 10px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer
}

.fullHeight {
    height: 100%
}

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    padding-bottom: 1em;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:600px) {
    .modal-window>div {
        width: 70%;
    }
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    margin: 0 0 15px;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    background: none;
    margin: 0;
}

.modal-close:hover {
    color: black;
    background: none;
}

*:focus {
    outline: none;
}

.modal-close:focus {
    background: none;
}

.model-window_true {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%, 20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%, 60%, 80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

.model_true {
    animation: tada 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* apply CSS to the select tag of  
         .dropdown-container div*/

.dropdown-container select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

/* for IE10 */

.dropdown-container select::-ms-expand {
    display: none;
}